@media (min-width: 992px) {
    .table-slider-init .slick-slide.slick-active {
        width: 250px !important;
    }
}

@media (max-width: 576px) {
    /* common style */
    h1 {
        font-size: 45px;
    }
    h3 {
        font-size: 20px;
    }
    .header-area .profile-area::before {
        display: none;
    }
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .table-slider-init .slick-slide.slick-active {
        width: 312px !important;
    }
}